% Copyright (c) 2016 Jakob Meng, <jakobmeng@web.de>
% NOTE: IF YOU WANT TO DELETE TEXT PARTS THEN ADD THEM YOUR NOTES FILE PRIOR TO REMOVAL!

\begin{abstract}
% Abstract/Abriss (eng. abstract)

\end{abstract}
\endinput
