% Copyright (c) 2017-2020 Jakob Meng, <jakobmeng@web.de>

%\documentclass[10pt]{article}
%\documentclass[10pt,notitlepage]{scrartcl}
%\documentclass[10pt]{scrartcl}
%\documentclass{scrartcl}
%\documentclass{scrbook}
\documentclass[10pt,toc=left]{scrreprt}

% list of options used by any future \RequirePackage or \usepackage command for a package
\PassOptionsToPackage{shorthands=off}{babel}
\PassOptionsToPackage{style=alphabetic}{biblatex}

\input{fgmt_00_about.tex}
\input{fgmt_01_setup.tex}
\input{fgmt_02_configure.tex}

\geometry{inner=2cm, outer=2cm, top=2cm, bottom=2cm, includeheadfoot}


% Setup header and footer
\KOMAoptions{headsepline,plainheadsepline,footsepline,plainfootsepline}
\pagestyle{scrheadings}
\ihead{\headmark}
\chead{}
\ohead[\pagemark]{\pagemark}
\ifoot{}
\cfoot{}
\ofoot{}
\automark[section]{chapter} % use for scrreprt and scrbook
%\automark[subsection]{section} % use for scrartcl

\addbibresource{references.bib}

% "Choose sans serif font family (e.g. Helvetica or Avant Garde)
%  as the default one in text mode. Notice, however, that this
%  does not change the fonts used in the formulas!" [3]
%
% Ref.:
%  [1] http://www.faqs.org/faqs/de-tex-faq/part10/
%  [2] https://ctan.org/tex-archive/info/german/detexfaq/detexfaq.pdf
%  [3] http://mirrors.ctan.org/macros/latex/required/psnfss/psnfss2e.pdf
\renewcommand{\familydefault}{\sfdefault}

\begin{document}

\selectlanguage{ngerman} % babel
\uselanguage{ngerman} % translator
\setquotestyle[quotes]{german}

\input{fgmt_03_preface.tex}

\input{fgmt_09_abstract.tex}

\input{fgmt_99_bibliography.tex}

\end{document}
