*.7z filter=lfs diff=lfs merge=lfs -text lockable
*.ace filter=lfs diff=lfs merge=lfs -text lockable
*.apk filter=lfs diff=lfs merge=lfs -text lockable
*.ar filter=lfs diff=lfs merge=lfs -text lockable
*.arc filter=lfs diff=lfs merge=lfs -text lockable
*.arj filter=lfs diff=lfs merge=lfs -text lockable
*.ark filter=lfs diff=lfs merge=lfs -text lockable
*.bmp filter=lfs diff=lfs merge=lfs -text lockable
*.bz2 filter=lfs diff=lfs merge=lfs -text lockable
*.cab filter=lfs diff=lfs merge=lfs -text lockable
*.cpio filter=lfs diff=lfs merge=lfs -text lockable
*.dd filter=lfs diff=lfs merge=lfs -text lockable
*.dia filter=lfs diff=lfs merge=lfs -text lockable
*.dmg filter=lfs diff=lfs merge=lfs -text lockable
*.doc filter=lfs diff=lfs merge=lfs -text lockable
*.docx filter=lfs diff=lfs merge=lfs -text lockable
*.eot filter=lfs diff=lfs merge=lfs -text lockable
*.eps filter=lfs diff=lfs merge=lfs -text lockable
*.exe filter=lfs diff=lfs merge=lfs -text lockable
*.gif filter=lfs diff=lfs merge=lfs -text lockable
*.gz filter=lfs diff=lfs merge=lfs -text lockable
*.heic filter=lfs diff=lfs merge=lfs -text lockable
*.iso filter=lfs diff=lfs merge=lfs -text lockable
*.jar filter=lfs diff=lfs merge=lfs -text lockable
*.jpeg filter=lfs diff=lfs merge=lfs -text lockable
*.jpg filter=lfs diff=lfs merge=lfs -text lockable
*.lz filter=lfs diff=lfs merge=lfs -text lockable
*.lz4 filter=lfs diff=lfs merge=lfs -text lockable
*.lzma filter=lfs diff=lfs merge=lfs -text lockable
*.lzo filter=lfs diff=lfs merge=lfs -text lockable
*.mobi filter=lfs diff=lfs merge=lfs -text lockable
*.otf filter=lfs diff=lfs merge=lfs -text lockable
*.pak filter=lfs diff=lfs merge=lfs -text lockable
*.pdf filter=lfs diff=lfs merge=lfs -text lockable
*.png filter=lfs diff=lfs merge=lfs -text lockable
*.ppt filter=lfs diff=lfs merge=lfs -text lockable
*.pptx filter=lfs diff=lfs merge=lfs -text lockable
*.rar filter=lfs diff=lfs merge=lfs -text lockable
*.rev filter=lfs diff=lfs merge=lfs -text lockable
*.rtf filter=lfs diff=lfs merge=lfs -text lockable
*.tar filter=lfs diff=lfs merge=lfs -text lockable
*.tar.gz filter=lfs diff=lfs merge=lfs -text lockable
*.tgz filter=lfs diff=lfs merge=lfs -text lockable
*.tiff filter=lfs diff=lfs merge=lfs -text lockable
*.tif filter=lfs diff=lfs merge=lfs -text lockable
*.ttf filter=lfs diff=lfs merge=lfs -text lockable
*.txz filter=lfs diff=lfs merge=lfs -text lockable
*.s7z filter=lfs diff=lfs merge=lfs -text lockable
*.sfx filter=lfs diff=lfs merge=lfs -text lockable
*.svg filter=lfs diff=lfs merge=lfs -text lockable
*.sz filter=lfs diff=lfs merge=lfs -text lockable
*.vdx filter=lfs diff=lfs merge=lfs -text lockable
*.vsd filter=lfs diff=lfs merge=lfs -text lockable
*.vsdx filter=lfs diff=lfs merge=lfs -text lockable
*.war filter=lfs diff=lfs merge=lfs -text lockable
*.wim filter=lfs diff=lfs merge=lfs -text lockable
*.woff filter=lfs diff=lfs merge=lfs -text lockable
*.woff2 filter=lfs diff=lfs merge=lfs -text lockable
*.xls filter=lfs diff=lfs merge=lfs -text lockable
*.xlsx filter=lfs diff=lfs merge=lfs -text lockable
*.xz filter=lfs diff=lfs merge=lfs -text lockable
*.z filter=lfs diff=lfs merge=lfs -text lockable
*.zip filter=lfs diff=lfs merge=lfs -text lockable
